{% extends 'base.html' %}
{% load static %}
{% block script %}
  var List = {{ url|safe }};
  var n = 1;
  showFolder(List,'content_middle',n);
  function showFolder(data,id,n){
    var str = "";
    for(var key in data){
      if(typeof(data[key]) == "string"){
        str += "<a href=\"#\" onclick=\"showFile(this)\"><li class=\"fileStyle\">"+key+"</li></a>";
      }else if(typeof(data[key]) == "object"){
        str += "<div><a href=\"#\"  onclick=\"listdir(this)\"><li class=\"folderStyleClose\">"+key+"</li></a><div style=\"padding-left:15px;\" id=\""+key+"_folder_"+n+"\"></div></div>";
      }else{
        continue;
      }
    }
    document.getElementById(id).innerHTML = str;
  }
  var PathStr = "";
  function listdir(self){
    if(self.childNodes[0].className == "folderStyleClose"){
      self.childNodes[0].className = "folderStyleOpen";
    }else{
      self.childNodes[0].className = "folderStyleClose";
    }
    if(document.getElementById(self.parentNode.childNodes[1].id).innerHTML == ""){
      ISfolder = (self.parentNode.parentNode.id).indexOf('_folder_');
      var id = self.parentNode.childNodes[1].id;
      var num = Number((id).split('_folder_')[1])+1;
      if( ISfolder == -1){
        data = List[self.childNodes[0].innerHTML];
      }else{
        PathStr = "";
        var ParentFolderID = self.parentNode.parentNode.id;
        var num = Number((ParentFolderID).split('_folder_')[1])+2;
        ISsecondfolder(ParentFolderID);
        var ParentFolderPathArr = PathStr.split('/');
        var folderStr = "List";
        for(var i = ParentFolderPathArr.length-1; i > 0;i--){
          if(ParentFolderPathArr[i] == undefined || ParentFolderPathArr[i] == null || ParentFolderPathArr[i] == ""){
            continue
          }
          folderStr += "['" + ParentFolderPathArr[i]+"']";
        }
        var currentFolder = "['" + (self.parentNode.childNodes[1].id).split('_folder_')[0] + "']";
        folderStr += currentFolder;
        data = eval(folderStr);
      }
      showFolder(data,id,num);
    }else{
      document.getElementById(self.parentNode.childNodes[1].id).innerHTML = "";
    }
  }
  function ISsecondfolder(currentFolderID){
    ISfolder = currentFolderID.indexOf('_folder_');
    if( ISfolder == -1){
      return PathStr;
    }else{
      PathStr += "/"+currentFolderID.split('_folder_')[0];
      ISsecondfolder(document.getElementById(currentFolderID).parentNode.parentNode.id);
    }
  }
  function showFile(self){
    var folderStr = "http://127.0.0.1:8000/static/";
    if(self.parentNode.id == 'content_middle'){
      document.getElementById('content_right').innerHTML = "<iframe src=\""+folderStr+self.innerText+"\" width=\"100%\" height=\"100%\" style=\"border:none;\"></iframe>"
    }else{
      PathStr = "";
      ISsecondfolder(self.parentNode.id);
      var ParentFolderPathArr = PathStr.split('/');
      for(var i = ParentFolderPathArr.length-1; i > 0;i--){
        if(ParentFolderPathArr[i] == undefined || ParentFolderPathArr[i] == null || ParentFolderPathArr[i] == ""){
          continue
        }
        folderStr +=  ParentFolderPathArr[i]+"/";
      }
      console.log(folderStr + self.innerText)
      document.getElementById('content_right').innerHTML = "<iframe src=\""+folderStr+self.innerText+"\" width=\"100%\" height=\"100%\" style=\"border:none;\"></iframe>"
    }
  }

{% endblock script %}
{% block style %}
.header{height:10vh;width:100%;}
.header_right{float:right;line-height:10vh;margin-right:5px;}
.header_left img{width:auto;float:left;height:10vh;}
.header_left{width:auto;height:auto;}
marquee{margin-top:-6px;}
*{list-style:none;}
.folderStyleClose{background-image: url({% static 'img/folderClose.ico' %});background-repeat: no-repeat;padding-left:16px;background-position:left;}
.folderStyleOpen{background-image: url({% static 'img/opened_folder.ico' %});background-repeat: no-repeat;padding-left:16px;background-position:left;}
.fileStyle{background-image: url({% static 'img/file.ico' %});background-repeat: no-repeat;padding-left:16px;background-position:left;}

.content_middle{width:75vw;float:right;}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header_left img{width:40vw;float:left;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header_left img{width:40vw;float:left;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header_left img{width:30vw;float:left;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header_left img{width:25vw;float:left;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header_left img{width:20vw;float:left;}
}
{% endblock style %}
{% block mainbody %}
  {% if user.is_authenticated %}
    {% include 'header.html' %}
    <div class="content">
      <div class="content_left">
        {% include 'content_left.html' %}
      </div>
      <div class="middle"  style="width:25vw;float:left;margin-left:20px;">
        <div class="uploadDiv">
          <form class="formStyle" action="/doc/upload/" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="file" name="uploadFile" value="选择文件" >
            <input type="submit"  value="上传">
          </form>
        </div>
        <div class="content_middle" id="content_middle" style="width:100%;height:100%;">

        </div>
      </div>
      <div class="content_right" id="content_right" style="width:50vw;height:80vh;float:left;">

      </div>
    </div>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
  {% endif %}
{% endblock mainbody %}
