{%extends 'base.html' %}
{% load static %}
{% block script %}
  window.onload=function(){
    if(document.all) {
        document.getElementById("hrefLoginPage").click();
    }
    // 兼容其它浏览器
    else {
        var e = document.createEvent("MouseEvents");
        e.initEvent("click", true, true);
        document.getElementById("hrefLoginPage").dispatchEvent(e);
    }
  }
{% endblock script %}
{% block style %}
*{list-style:none;}
.header{height:10vh;width:100%;}
.header_right{float:right;line-height:10vh;margin-right:5px;}
.header_left img{width:20vw;float:left;height:10vh;}
.header_left{width:auto;height:auto;}
marquee{margin-top:-6px;border:1px solid lightgrey;}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header_left img{width:40vw;float:left;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header_left img{width:40vw;float:left;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header_left img{width:30vw;float:left;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header_left img{width:25vw;float:left;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header_left img{width:20vw;float:left;}
}
{% endblock style %}
{% block mainbody %}
    {% if user.is_authenticated %}
      <div class="header">
        <div class="header_left">
          <img src="{% static 'img/InnoVision_logo.png' %}">
        </div>
        <div class="header_right">
          <p>Hi {{ user.username }}! <a href="{% url 'logout' %}">退出</a></p>
        </div>
      </div>

      <marquee direction=left behavior=scroll scrollamount=6 scrolldelay=0 align=top bgcolor=#ffffff onmouseover=this.stop() onmouseout=this.start()> 欢迎使用INNOVISION内部管理页面</marquee>

      <div class="content">
        {% block content %}

        {% endblock content %}
      </div>
   {% else %}
    <a id="hrefLoginPage" href="{% url 'login' %}">login</a>
   {% endif %}
{% endblock mainbody %}
