{%extends 'base.html' %}
{% load static %}
{% block script %}
// 设置资源管理的数组
var thingsArray={"office":"办公用品耗材类","life":"生活环境用品类","equipment":"设备配件类","books":"图书资料类","others":"其他类"};
var personsArray=["company","Kim","Avin","Wing","Maxence","Annie"];
var thArray = ["ID","物品名称","数量","所属分类","分配人员","物品属性","归还日期","分配日期","删除"];
var thArrayID = ["id","things","number","class","user","attribute","returnDate","giveDate"];
var colors = ["#EEEE00","#DC143C","#FFB6C1","#FFA500","#FF83FA","#FF7F24","#FF6A6A",
"#BA55D3", "#F5F5DC","#FFFFF0","#FFFAF0","#FFF5EE","#FFEC8B","#FFE4C4","#FFDAB9","#FFC125",
"#FF4040","#00FFFF","#FAEBD7","#FA8072","#FF1493","#FF0000",];
// 设置创建的table id以及服务器ip
var urls = "http://127.0.0.1:10050";
var tableID = "thingID";
var num=0;
var tabCount=0;
var Count=0;
var returndates,givedates;

(()=>{
  // 兼容IE
    if(document.all) {
        document.getElementById("office").click();
    }
    // 兼容其它浏览器
    else {
        var e = document.createEvent("MouseEvents");
        e.initEvent("click", true, true);
        document.getElementById("office").dispatchEvent(e);
    }
})();


//ajax 模型
function ajax(url, method, msg, fn, id,innerHTMLId) {
    var xmlhttp;
    if(window.XMLHttpRequest){
        xmlhttp=new XMLHttpRequest();
    }else {
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function(){
        if(xmlhttp.readyState==4 && xmlhttp.status==200){
            fn(xmlhttp.responseText, url, id,innerHTMLId)
        }
    }

    xmlhttp.open(method,url,true);
    xmlhttp.send(msg);
}

function ajaxPut(msg) {
  console.log(msg);
    var xmlhttp;
    if(window.XMLHttpRequest){
        xmlhttp=new XMLHttpRequest();
    }else {
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function(){
        if(xmlhttp.readyState==4 && xmlhttp.status==200){
        }
    }

    xmlhttp.open("http://127.0.0.1:10050/static/ta.json","put",true);
    xmlhttp.send(msg);
}
//sort table json data
// function sortTableJsonData(){
//   dataobj.sort(function(a, b) {
//     return b.played_num - a.played_num;
//   })
// }
// 判断table是否有tr
function saveData(){
  var nodedata = document.getElementById("thingID");
  if(nodedata.childNodes.length <= 1){
    alert("请添加列表");
  }else{
    putTableData(nodedata);
  }
}
// 获取table中的数据发送到service
function putTableData(nodedata){
  var myDate = new Date();
  var time = myDate.format('yyyy-MM-dd');
  //归还时间必须大于分配之间
  for(var k = 0;k < nodedata.childNodes[1].childNodes.length;k++){
    for(var l = 0;l < nodedata.childNodes[1].childNodes[k].childNodes.length-1;l++){
      if(l == 5 || l == 6){
        var value = nodedata.childNodes[1].childNodes[k].childNodes[l].innerText;
        if(l == 5){
          if(value != "" || value != null || value != undefined){
            var returndates = new Date(value);
          }
        }
        if(l == 6){
          var givedates = new Date(value);
        }
        if(returndates < givedates){
          alert("归还时间不能小于分配时间");
          nodedata.childNodes[1].childNodes[k].childNodes[3].innerText = time;
        }
      }
    }
  }
  var objArr = {};
  objArr[0] = {};
  for(var i = 1;i < nodedata.childNodes[1].childNodes.length;i++){
    var obj = {};
    var td1InnerText = (nodedata.childNodes[1].childNodes[i].childNodes[1].innerText).trim();
    var td2InnerText = (nodedata.childNodes[1].childNodes[i].childNodes[2].innerText).trim();
    if(td1InnerText == "" ||td1InnerText == null || td1InnerText == undefined || td2InnerText == "" ||td2InnerText == null || td2InnerText == undefined){
      continue;
    }
    for(var j = 1;j < nodedata.childNodes[1].childNodes[i].childNodes.length-1;j++){
      if(j == 3){
        var select_id_class = nodedata.childNodes[1].childNodes[i].childNodes[j].childNodes[0].id;
        var select_id_class_val = document.getElementById(select_id_class).value;
        obj[thArrayID[j]] = select_id_class_val;
      }else if(j == 4){
        var select_id_user = nodedata.childNodes[1].childNodes[i].childNodes[j].childNodes[0].id;
        var select_id_user_val = document.getElementById(select_id_user).value;
        obj[thArrayID[j]] = select_id_user_val;
      }else{
        obj[thArrayID[j]] = nodedata.childNodes[1].childNodes[i].childNodes[j].innerHTML;
      }
    }
    objArr[i] = obj;
  }
  var dataobj = JSON.stringify(objArr);
  //send table data to service
  <!-- ajax(urls+"/static/tableData.json", "PUT", dataobj, callback); -->
  ajaxPut(dataobj);
}

//callback empty func
function callback(data,url){
  alert("数据保存成功！！");
}

// create table and table th element
function createTable(){
  var tableEle = document.createElement("table");
  var divTabEle = document.createElement("div");
  tableEle.id = "divTabEle"+tabCount;
  var str = "";
  str += "<thead class=\"thead-dark\"><tr>";
  for(var th = 0;th < thArray.length;th++){
    str += "<th scope=\"col\">"+thArray[th]+"</th>";
  }
  str += "</tr></thead><tbody id=\"editDataTbody\">";
  tableEle.innerHTML =  str;
  tableEle.id = tableID;
  tableEle.className = 'table table-striped table-bordered';
  var tableEleParent = document.getElementById("thingTabContents");
  tableEleParent.appendChild(divTabEle);
  divTabEle.appendChild(tableEle);
  ajax("http://127.0.0.1:10050/static/tableData.json", "GET", "", showTableJsonData);
}
//load old table json data
function showTableJsonData(dataobj,url){
  var data = JSON.parse(dataobj);
  for(var i = 0;i< Object.keys(data).length;i++){
    showTableEveryJsonData(data[i],i);
  }
  // var nodeids = "thingID";
  goPage(1,10,"editDataTbody");
}
function showTableEveryJsonData(data,i){
  var idNum = i;
  var str="";
  var trEle = document.createElement("tr");

  var trParent = document.getElementById("editDataTbody");
  trParent.appendChild(trEle);
  // contenteditable=\"true\" table变为可编辑状态
  str += "<td>"+idNum+"</td><td contenteditable=\"true\">"+data.things+"<td contenteditable=\"true\">"+data.number+"</td></td><td><select class=\"custom-select\" id=\"thingsArraytableGroupSelect"+idNum+"\">";
  for(var key in thingsArray){
    if(key == data.class){
      str+="<option selected=\"selected\" value=\""+data.class+"\">"+thingsArray[key]+"</option>";
    }else{
      str+="<option value=\""+key+"\">"+thingsArray[key]+"</option>";
    }
  }

  str +="</select></td><td><select class=\"custom-select\" id=\"personsArraytableGroupSelect"+idNum+"\">";
  for(var i=0;i<personsArray.length;i++){
    if(personsArray[i] == data.user){
      str+="<option selected=\"selected\" value=\""+personsArray[i]+"\">"+data.user+"</option>";
    }else{
      str+="<option value=\""+personsArray[i]+"\">"+personsArray[i]+"</option>";
    }
  }
  str +="</select></td></td><td contenteditable=\"true\">"+data.attribute+"<td contenteditable=\"true\">"+data.returnDate;
  str +="</td><td contenteditable=\"true\">"+data.giveDate+"";
  str +="</td><td>";
  // str += "<button type=\"button\" style=\"margin-left:10px;margin-right:10px;\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#exampleModal\">修改</button>"; onclick=\"loadAlertFormEle(this)\"
  // str += "<button type=\"button\" style=\"margin-left:10px;margin-right:10px;\" class=\"btn btn-primary\" onclick=\"loadAlertFormEle(this)\">修改</button>";
  str +="<button type=\"button\" class=\"btn btn-primary\"  onclick=\"deltr(this)\">del</button></td>";

  trEle.innerHTML=str;
}
// 分页
function goPage(pno,psize,ids){
  if(typeof(ids) != "string"){
    var ids = ids.id;
  }
  var itable = document.getElementById(ids);
  var num = itable.rows.length;//表格所有行数(所有记录数)
  var totalPage = 0;//总页数
  var pageSize = psize;//每页显示行数
  //总共分几页
  if(num/pageSize > parseInt(num/pageSize)){
      totalPage=parseInt(num/pageSize)+1;
  }else{
      totalPage=parseInt(num/pageSize);
  }

  var currentPage = pno;//当前页数
  var startRow = (currentPage - 1) * pageSize+1;//开始显示的行 31
  var endRow = currentPage * pageSize;//结束显示的行  40
  endRow = (endRow > num)? num : endRow;  //40
    //遍历显示数据实现分页
  for(var i=0;i<num;i++){
    var irow = itable.rows[i];
    if(irow.childNodes[0].nodeName == "TH"){
      continue;
    }else{
      if(i>=startRow && i<=endRow){
        irow.className = "";
      }else{
        irow.className = "d-none";
      }
    }
  }
  var tempStr = "共"+num+"条记录 分"+totalPage+"页 当前第"+currentPage+"页";
  if(currentPage>1){
    tempStr += "<a href=\"#\" class=\"btn\" onClick=\"goPage("+(1)+","+psize+","+ids+")\">首页</a>";
    tempStr += "<a href=\"#\" class=\"btn\" onClick=\"goPage("+(currentPage-1)+","+psize+","+ids+")\"><上一页</a>";
  }else{
    tempStr += "首页";
    tempStr += "<上一页";
  }
  for(var j = 1;j < totalPage+1;j++){
    tempStr += "<a href=\"#\" class=\"btn\" onClick=\"goPage("+(j)+","+psize+","+ids+")\">"+j+"</a>";
  }
  if(currentPage<totalPage){
    tempStr += "<a href=\"#\" class=\"btn\" onClick=\"goPage("+(currentPage+1)+","+psize+","+ids+")\">下一页></a>";
    tempStr += "<a href=\"#\" class=\"btn\" onClick=\"goPage("+(totalPage)+","+psize+","+ids+")\">尾页</a>";
  }else{
    tempStr += "下一页>";
    tempStr += "尾页";
  }
  document.getElementById("barcon").innerHTML = tempStr;
}
// create table tr element
function createTr(tableID){
  var myDate = new Date();
  var time = myDate.format('yyyy-MM-dd');
  var trParent = document.getElementById(tableID);
  var num = trParent.childNodes.length;
  goPage(parseInt(num/10)+1,10,tableID);
  var str="";
  var trEle = document.createElement("tr");
  trParent.appendChild(trEle);
  // contenteditable=\"true\" table变为可编辑状态
  str += "<td>"+num+"</td><td contenteditable=\"true\"><td contenteditable=\"true\"></td></td><td><select class=\"custom-select\" id=\"thingsArraytableGroupSelect"+num+"\">"
  for(var key in thingsArray){
      str+="<option value=\""+key+"\">"+thingsArray[key]+"</option>";
  }
  str +="</select></td><td><select class=\"custom-select\" id=\"personsArraytableGroupSelect"+num+"\">";
  for(var i=0;i<personsArray.length;i++){
      str+="<option value=\""+personsArray[i]+"\">"+personsArray[i]+"</option>";
  }
  str +="</select></td><td contenteditable=\"true\"></td><td contenteditable=\"true\">";
  // str += "<input id=\"returnThingDate"+num+"\" type=\"date\"/>";
  str +="</td><td contenteditable=\"true\">"+time+"";
  // str += "<input id=\"returnThingDate"+num+"\" type=\"date\"/>";
  str +="</td><td>";
  // str += "<button type=\"button\" style=\"margin-left:10px;margin-right:10px;\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#exampleModal\">修改</button>";
  // str += "<button type=\"button\" style=\"margin-left:10px;margin-right:10px;\" class=\"btn btn-primary\" onclick=\"loadAlertFormEle(this)\">修改</button>";
  str += "<button type=\"button\" class=\"btn btn-primary\"  onclick=\"deltr(this)\">del</button></td>";

  trEle.innerHTML=str;
  if(num%10 == 0){
    goPage(num/10,10,tableID);
  }else{
    goPage(parseInt(num/10)+1,10,tableID);
  }
}
//格式化时间
Date.prototype.format = function(format){
   var o = {
   "M+" : this.getMonth()+1, //month
   "d+" : this.getDate(),    //day
   "h+" : this.getHours(),   //hour
   "m+" : this.getMinutes(), //minute
   "s+" : this.getSeconds(), //second
   "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
   "S" : this.getMilliseconds() //millisecond
   }
   if(/(y+)/.test(format)) format=format.replace(RegExp.$1,
   (this.getFullYear()+"").substr(4 - RegExp.$1.length));
   for(var k in o)if(new RegExp("("+ k +")").test(format))
   format = format.replace(RegExp.$1,
   RegExp.$1.length==1 ? o[k] :
   ("00"+ o[k]).substr((""+ o[k]).length));
   return format;
  }
// check input date
function checkDate(values){
   var reg = /^(\d{4})-(\d{2})-(\d{2})$/;
   var arr = reg.exec(values);
   if (!reg.test(values) && RegExp.$2 <= 12 && RegExp.$3 <= 31) {
       alert("请保证输入的为yyyy-mm-dd日期格式");
   }
   return values;
}
// delete table tr element
function deltr(self){
   self.parentNode.parentNode.parentNode.removeChild(self.parentNode.parentNode);
   var trlen = document.getElementById(tableID).childNodes[1].childNodes.length;
   for(var i=0;i<trlen;i++){
     document.getElementById(tableID).childNodes[1].childNodes[i].childNodes[0].innerHTML=i+1;
   }
   // num--;
}
function cancelActive(self){
  var nodeid = "office";
  var innerHTMLNodeid = "tableClass";
  menuStyle(nodeid);
  ajax(urls+"/static/tableData.json", "GET", "", showTableData, nodeid, innerHTMLNodeid);
  // var nodeid = self.parentNode.parentNode.parentNode.parentNode.id;
  var p = document.getElementById("accordion");
  for(var i = 1,pl = p.childNodes.length;i<pl;i+=2){
    for(var j = 0;j<p.childNodes[i].childNodes[3].childNodes[1].childNodes.length;j++){
      if(p.childNodes[i].childNodes[3].childNodes[1].childNodes[j].nodeName == "A"){
        p.childNodes[i].childNodes[3].childNodes[1].childNodes[j].setAttribute('class', "nav-link");
      }
    }
  }

}
//设置跳转按钮点击时的效果
function activityClickup(self){
  self.setAttribute("class","bghide nav-link");
}
//设置跳转按钮点击后的效果
function activityClickdown(self){
  self.setAttribute("class","bgshow nav-link");
}
// show the editData menu
function createdata(self){
  var nodeid = self.id;
  menuStyle(nodeid);
  var datadiv = document.getElementById("tableClass");
  var str = "";
  str += "<div id=\"thingTabContents\"></div><div class=\"row\"><div id=\"barcon\" style=\"line-height:3.5rem;\" class=\"col-6\"></div><div class=\"btn btnDiv col-6\">";
  str += "<button type=\"button\" class=\"btn btn-primary\"  onclick=\"createTr('editDataTbody')\">添加列表</button>";
  // str += "<button type=\"button\" style=\"margin-left:10px;margin-right:10px;\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#exampleModal\">保存数据alert</button>";
  str += "<button type=\"button\" style=\"margin-left:10px;\" class=\"btn btn-primary\" id=\"saveDataBtn\"  onclick=\"saveData()\">保存数据</button>";
  str += "</div></div>";

  datadiv.innerHTML = str;
  createTable();
}
//get table json data
function getdata(self){
  var nodeid = self.id;
  var innerHTMLNodeid = "tableClass";
  menuStyle(nodeid);
  ajax(urls+"/static/tableData.json", "GET", "", showTableData, nodeid, innerHTMLNodeid);
}
// 显示汇总数据
function getTotaldata(self){
  var nodeid = self.id;
  menuStyle(nodeid);
  ajax(urls+"/static/tableData.json", "GET", "", showTotaldata);
}
//add select element
function showTotaldata(dataobj,url){
  var str = "";
  // select 多选
  // <select multiple=\"multiple\">
  var data = JSON.parse(dataobj);
  var dataThingsArr = [];
  for(var k = 0; k < Object.keys(data).length; k++){
    dataThingsArr[k] = data[k].things;
  }
  var ThingsArr = unique(dataThingsArr);
  for(var i = 0;i < 3;i++){
    str += "<div class=\"selectStyle\"><select>";
    if(i == 0){
      for(var j = 0;j < personsArray.length;j++){
        str += "<option value=\""+personsArray[j]+"\">"+personsArray[j]+"</option>";
      }
    }else if(i == 1){
      str += "<option value=\"choose\" selected=\"selected\">--choose--</option>";
      for(var key in thingsArray){
        str += "<option value=\""+key+"\">"+thingsArray[key]+"</option>";
      }
    }else if(i == 2){
      str += "<option value=\"choose\" selected=\"selected\">--choose--</option>";
      for(var k = 0;k < ThingsArr.length;k++){
        str += "<option value=\""+ThingsArr[k]+"\">"+ThingsArr[k]+"</option>";
      }
    }

    str += "</select></div>";
  }
  str += "<div class=\"selectStyle\"><button onclick=\"ajax('"+url+"', 'GET', '', showSearchData)\">SearchData</button></div><div  id=\"showSelectTable\"></div><div  id=\"easysector\"></div>";
  document.getElementById("tableClass").innerHTML = str;
}
//search data show
function showSearchData(dataobj){

  var data = JSON.parse(dataobj);
  var nodeid = document.getElementById("tableClass");
  var selectArr = {};
  for(var i = 0; i< nodeid.childNodes.length-1;i++){
    if(i == 0){
      selectArr["user"] = nodeid.childNodes[i].childNodes[0].options[nodeid.childNodes[i].childNodes[0].selectedIndex].value;
    }else if(i == 1){
      selectArr["class"] = nodeid.childNodes[i].childNodes[0].options[nodeid.childNodes[i].childNodes[0].selectedIndex].value;
    }else if(i == 2){
      selectArr["things"] = nodeid.childNodes[i].childNodes[0].options[nodeid.childNodes[i].childNodes[0].selectedIndex].value;
    }
  }
  if(selectArr['user'] != "choose"){
    var dataobjs = [];
    var count = 0;
    for(var i = 0;i < Object.keys(data).length;i++){
      if(data[i]['user'] == selectArr['user']){
        dataobjs[count] = data[i];
        count++;
      }
    }
    var data = dataobjs;
  }
  if(selectArr['class'] != "choose"){
    var dataobjs = [];
    var count = 0;
    for(var i = 0;i < Object.keys(data).length;i++){
      if(data[i]['class'] == selectArr['class']){
        dataobjs[count] = data[i];
        count++;
      }
    }
    var data = dataobjs;
  }
  if(selectArr['things'] != "choose"){
    var dataobjs = [];
    var count = 0;
    for(var i = 0;i < Object.keys(data).length;i++){
      if(data[i]['things'] == selectArr['things']){
        dataobjs[count] = data[i];
        count++;
      }
    }

    var data = dataobjs;
  }
  var dataobjs = JSON.stringify(data);
  showTableData(dataobjs,"","","showSelectTable");
  showPIE(data);
}
// 根据table内数据，显示PIE图
function showPIE(data){
  var h_items = new Array();
  var thingsArray = [];
  for(var i = 0; i < data.length;i++){
    for(var key in data[i]){
      if(key == "things"){
        thingsArray[i]=data[i][key];
      }
    }
  }
  var ThingsArr = unique(thingsArray);
  var numArr = {};
  var h_title;
  for(var j = 0;j<ThingsArr.length;j++){
    var sum = 0;
    for(var k = 0; k < data.length;k++){
      if(data[k]["things"] == ThingsArr[j]){
        h_title = data[k]["class"] + ":" +data[k]["things"];
        sum += parseInt(data[k]["number"]);
      }
    }
    numArr[ThingsArr[j]]=sum;
    h_items[j] = {
      "h_title": h_title,
      "h_amount": sum,
      "h_color": colors[j]
    }
  }
  document.getElementById("easysector").innerHTML = "";
  $("#easysector").easysector({
    "h_items": h_items,
    "h_title": "Things Percent",
    "h_width": 260,
    "h_borderColor": "silver",
    "h_poindlength": 0,
    "h_showamount": true,
    "h_backColor": "#fff",
    "h_recwidth": 20,
    "h_titlesize": 24,
    "h_Radii": 125,
    "h_infosize": 16
  });

}
// 数组去重
function unique(arr){
  var hash=[];
  for (var i = 0; i < arr.length; i++) {
     if(hash.indexOf(arr[i])==-1){
      hash.push(arr[i]);
     }
  }
  return hash;
}
// show the table json data
function showTableData(dataobj,url,nodeid,innerHTMLNodeid){

  var sum = 1;
  var countNum = 0;
  var data = JSON.parse(dataobj);

  var nodeids = "classTables"+nodeid;
  var str = "";
  var strth = "";
  str += "<div><table id=\""+nodeids+"\" class=\"table table-striped table-bordered\"><thead class=\"thead-dark\"><tr>";
  for(var j = 0;j < thArray.length-1;j++){
    str += "<th scope=\"col\">"+thArray[j]+"</th>";
  }
  str += "</thead></tbody>";
  var datas = [];
  for(var i = 0; i < Object.keys(data).length;i++){
    if(nodeid == data[i].class || nodeid == ""){
      datas[countNum] = data[i];
      countNum++;
    }
  }
  var sum=0;
  for(var i = 0; i < datas.length;i++){
    sum++;
    str += "<tr>";
    str += "<td>"+sum+"</td>";
    str += "<td>"+datas[i].things+"</td>";
    str += "<td>"+datas[i].number+"</td>";
    for(var key in thingsArray){
      if(key == datas[i].class){
        str += "<td>"+thingsArray[key]+"</td>";
      }
    }
    str += "<td>"+datas[i].user+"</td>";
    str += "<td>"+datas[i].attribute+"</td>";
    str += "<td>"+datas[i].returnDate+"</td>";
    str += "<td>"+datas[i].giveDate+"</td>";
    str += "</tr>";
  }
  str += "</tbody></table></div><div id=\"barcon\"></div>";
  document.getElementById(innerHTMLNodeid).innerHTML = str;
  goPage(1,10,nodeids);
}
//set table json menu style
function menuStyle(menuID){
  var menuChild = document.getElementById(menuID).parentNode.parentNode.childNodes;
  for(var i = 1; i< menuChild.length;i+=2){
    menuChild[i].setAttribute("class","nav-item  col-1 bgstyle");
  }
  if(menuID == "office"){
    document.getElementById(menuID).parentNode.setAttribute("class","nav-item  col-1 officeBgStyle");
  }
  if(menuID == "life"){
    document.getElementById(menuID).parentNode.setAttribute("class","nav-item  col-1 lifeBgStyle");
  }
  if(menuID == "equipment"){
    document.getElementById(menuID).parentNode.setAttribute("class","nav-item  col-1 equipmentBgStyle");
  }
  if(menuID == "books"){
    document.getElementById(menuID).parentNode.setAttribute("class","nav-item  col-1 booksBgStyle");
  }
  if(menuID == "others"){
    document.getElementById(menuID).parentNode.setAttribute("class","nav-item  col-1 othersBgStyle");
  }
  if(menuID == "editData"){
    document.getElementById(menuID).parentNode.setAttribute("class","nav-item  col-1 editDataBgStyle");
  }
  if(menuID == "totalData"){
    document.getElementById(menuID).parentNode.setAttribute("class","nav-item  col-1 totalDataBgStyle");
  }
}


{% endblock script%}
{% block style %}
.header{height:10vh;width:100%;border:1px solid red;}
.header_right{float:right;line-height:10vh;margin-right:5px;}
.header_left img{width:auto;float:left;height:10vh;}
.header_left{width:auto;height:auto;}
.marquee{border:1px solid blue;}
*{list-style:none;}
.content_middle{width:75vw;float:right;}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header_left img{width:40vw;float:left;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header_left img{width:40vw;float:left;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header_left img{width:30vw;float:left;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header_left img{width:25vw;float:left;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header_left img{width:20vw;float:left;}
}

.totalDataBgStyle{
  background:#83818c;
  border-radius:5px;
}
.selectStyle{
  float:left;
  margin-right:10px;
}
.bgstyle{
  background:#343a40;
  border-radius:5px;
}
.editDataBgStyle{
  background:#83818c;
  border-radius:5px;
}
.officeBgStyle{
  background:#83818c;
  border-radius:5px;
}
.lifeBgStyle{
  background:#83818c;
  border-radius:5px;
}
.equipmentBgStyle{
  background:#83818c;
  border-radius:5px;
}
.booksBgStyle{
  background:#83818c;
  border-radius:5px;
}
.othersBgStyle{
  background:#83818c;
  border-radius:5px;
}
.btnDiv{
  float:right;
}
.bgshow{
  background:#007bff;
  color:white;
}
.bghide{
  background:#007bff;
  color:white;
}
ul{list-style:none;text-align:center;}

#projectLeftContent,#docLeftContent{
  float:left;
}
#projectRightContent{
  margin-left:10px;
  float:right;
}
#docRightContent{
  float:right;
}
.tab-content{
  padding-left:0px;
}
.col-1{
  width:10%;
  min-width:150px;
}
.row{margin-left:0;margin-right:0;}
{% endblock style %}
{% block mainbody %}
  {% if user.is_authenticated %}
    {% include 'header.html' %}
    <div class="content" style="border:1px solid black;">
      <div class="content_left" style="float:left;width:20vw;border:1px solid green;">
        {% include 'content_left.html' %}
      </div>
      <div class="content_right" id="content_right" style="width:77vw;float:right;">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav">
              <li class="nav-item active col-1">
                <a class="nav-link" href="#" id="office" onclick="getdata(this)">OFFICE</a>
              </li>
              <li class="nav-item  col-1">
                <a class="nav-link" href="#"  id="life" onclick="getdata(this)">LIFE</a>
              </li>
              <li class="nav-item  col-1">
                <a class="nav-link" href="#" id="equipment" onclick="getdata(this)">MACHINE</a>
              </li>
              <li class="nav-item  col-1">
                <a class="nav-link" href="#" id="books" onclick="getdata(this)">BOOKS</a>
              </li>
              <li class="nav-item  col-1">
                <a class="nav-link" href="#" id="others" onclick="getdata(this)">OTHERS</a>
              </li>
              <li class="nav-item  col-1">
                <a class="nav-link" href="#" id="totalData" onclick="getTotaldata(this)">totalData</a>
              </li>
              <li class="nav-item  col-1">
                <a class="nav-link" href="#" id="editData" onclick="createdata(this)">EditData</a>
              </li>
            </ul>
          </nav>
          <div class="tableClass" id="tableClass">

          </div>
      </div>
    </div>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
  {% endif %}
{% endblock mainbody %}
